{{ define "content"}}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ .Data.Title }}</h1>
      <div>
        {{range .Data.Images}}
          <div>
            {{.}}
          </div>
        {{end}}
      </div>
    </div>
  </div>
{{end}}