{{ define "content"}}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ .Data.Title }}</h1>

      <div class="row">
        {{range .Data.Images}}
            <div class="col-md-4">
              <div class="img-thumbnail">
                <a href="{{.Path}}" target="_blank">
                  <img src="{{.Path}}" alt="image" style="width:100%">
                </a>
              </div>
            </div>
        {{end}}
      </div>

    </div>
  </div>
{{end}}